/* = Fonts Setup = */
/* Noto Sans CJK-KR */
@font-face {
    font-family: 'Noto Sans CJK-KR';
    font-style: normal;
    font-weight: normal;
    src: local('Noto Sans CJK-KR'), local('NotoSansCJKkr-Regular'), url('./imkyw/NotoSansCJKkr-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Noto Sans CJK-KR';
    font-style: italic;
    font-weight: normal;
    src: local('Noto Sans CJK-KR'), local('NotoSansCJKkr-Italic'), url('./imkyw/NotoSerifCJKkr-bold.woff') format('woff');
}
@font-face {
    font-family: 'Noto Sans CJK-KR';
    font-style: normal;
    font-weight: bold;
    src: local('Noto Sans CJK-KR'), local('NotoSansCJKkr-Bold'), url('./imkyw/NotoSansCJKkr-bold.woff') format('woff');
}
@font-face {
    font-family: 'Noto Sans CJK-KR';
    font-style: italic;
    font-weight: bold;
    src: local('Noto Sans CJK-KR'), local('NotoSansCJKkr-Italic'), url('./imkyw/NotoSerifCJKkr-black.woff') format('woff');
}

/* Noto Sans Mono CJK-KR */
@font-face {
    font-family: 'Noto Sans Mono CJK-KR';
    font-style: normal;
    font-weight: normal;
    src: local('Noto Sans Mono CJK-KR'), local('NotoSansMonoCJKkr-Regular'), url('./imkyw/NotoSansMonoCJKkr-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Noto Sans Mono CJK-KR';
    font-style: normal;
    font-weight: bold;
    src: local('Noto Sans Mono CJK-KR'), local('NotoSansMonoCJKkr-Bold'), url('./imkyw/NotoSansMonoCJKkr-Bold.woff') format('woff');
}

/* Special Serif Setup */
@font-face {
    font-family: 'imKYW Normal';
    font-style: normal;
    font-weight: normal;
    src: local('imKYW Normal'), local('imKYW Normal'), url('./imkyw/NotoSerifCJKkr-Regular.woff') format('woff');
}
@font-face {
    font-family: 'imKYW Bold';
    font-style: normal;
    font-weight: normal;
    src: local('imKYW Bold'), local('imKYW Bold'), url('./imkyw/NotoSerifCJKkr-bold.woff') format('woff');
}
@font-face {
    font-family: 'imKYW Black';
    font-style: normal;
    font-weight: normal;
    src: local('imKYW Black'), local('imKYW Black'), url('./imkyw/NotoSerifCJKkr-black.woff') format('woff');
}
/* == */

html, body {
    background-color: #ffffff;
    font-family: "Noto Sans CJK-KR", sans-serif;
    color: #1f0909;
    line-height: 1.5em;
}

#write {
    max-width: 920px;
    margin: 0 auto;
    padding: 30px;
    padding-bottom: 100px;
}
#write > ul:first-child,
#write > ol:first-child{
    margin-top: 30px;
}

h1 {
    font-family: "imKYW Black", serif;
    padding: .05em 0em .17em .3em;
    font-size: 2em;
    color: #ffffff;
    line-height: 1.2;
    background-color: #877D71;
    border-bottom: 2px solid #504A43;
}
h2 {
    font-family: "imKYW Black", serif;
    margin-top: 1.2em;
    padding-bottom: .16em;
    font-size: 1.5em;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
}
h3 {
    font-family: "imKYW Bold", serif;
    margin-top: 1.15em;
    font-size: 1.2em;
}
h4 {
    font-family: "imKYW Bold", serif;
    font-size: 1.1em;
    color: #888;
}
h5 {
    font-family: "imKYW Bold", serif;
    font-size: 1em;
}
h6 {
    font-size: 1em;
    color: #888;
}
